name: CI

on:
  push:
    branches:
      - master
    paths:
      - '*.java'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - 'gradle.properties'
  pull_request:
    branches:
      - master
    paths:
      - '*.java'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - 'gradle.properties'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build with Gradle
        run: ./gradlew clean shadowJar
